.header {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
  }
  .navi {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
  }
  
  .column1 {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    float: left;
    height: 200px;
    width:150px;
    padding-top:10%;
  }
  .column2 {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    float: left;
   height:200px;
   width:839px;
   padding-top:10%;

  }
  .column3 {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
    float: right;
    height: 200px;
    width:150px;
    padding-top:10%;

  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: gray;
    color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 5px;
  }
  
  .border1{
    border-style: solid;
    border-width: 3px;
  }